
.flex{
display: flex;
flex-direction: row;
justify-content: space-evenly;

}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none
}
li{
    margin-left: 30px;
    font: 1em sans-serif;
    font-size: 20px;
}
li:hover{
    transition: 0.2s;
    color:black;
}